main
.vscode/settings.json
cpp_yandex_specialization/.idea/.gitignore
cpp_yandex_specialization/.idea/.name
cpp_yandex_specialization/.idea/cpp_yandex_specialization.iml
cpp_yandex_specialization/.idea/misc.xml
cpp_yandex_specialization/.idea/modules.xml
cpp_yandex_specialization/.idea/vcs.xml
cpp_yandex_specialization/.vscode/settings.json
cpp_yandex_specialization/white_belt/week4/time_server/main.cpp
cpp_yandex_specialization/white_belt/week5/.idea/.gitignore
cpp_yandex_specialization/white_belt/week5/.idea/misc.xml
cpp_yandex_specialization/white_belt/week5/.idea/modules.xml
cpp_yandex_specialization/white_belt/week5/.idea/vcs.xml
cpp_yandex_specialization/white_belt/week5/.idea/week5.iml
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/cmake_install.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeCache.txt
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/Makefile
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/week5
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/week5.cbp
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/clion-environment.txt
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/clion-log.txt
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/cmake.check_cache
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/CMakeOutput.log
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/Makefile.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/Makefile2
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/progress.marks
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/TargetDirectories.txt
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/build.make
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/cmake_clean.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/CXX.includecache
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/depend.internal
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/depend.make
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/DependInfo.cmake
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/flags.make
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/link.txt
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/main.cpp.o
cpp_yandex_specialization/white_belt/week5/cmake-build-debug/CMakeFiles/week5.dir/progress.make
cpp_yandex_specialization/white_belt/week5_bp/CMakeLists.txt
cpp_yandex_specialization/white_belt/week5_bp/main.cpp
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/cmake_install.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeCache.txt
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/first_week_final
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/first_week_final.cbp
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/Makefile
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/Project.cbp
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/clion-environment.txt
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/clion-log.txt
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/cmake.check_cache
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/CMakeOutput.log
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/Makefile.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/Makefile2
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/progress.marks
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/TargetDirectories.txt
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/build.make
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/cmake_clean.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/CXX.includecache
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/depend.internal
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/depend.make
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/DependInfo.cmake
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/flags.make
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/link.txt
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/main.cpp.o
cpp_yandex_specialization/white_belt/week5_bp/cmake-build-debug/CMakeFiles/first_week_final.dir/progress.make
crackin_the_coding_interview/chapter1/solutions.py
*.out
*.o
*.zip
build
*.pyc
*-checkpoint*
*.h5
*.png
*.jpg
cpp_yandex_specialization/yellow_belt/week2/palindrom_tests/test_palindrome
cpp_yandex_specialization/yellow_belt/week2/rational_tests/test_rational
cpp_yandex_specialization/yellow_belt/week4/merge_sort/merge
cpp_yandex_specialization/yellow_belt/week4/test/test
cpp_yandex_specialization/yellow_belt/week5/figures/figures
cpp_yandex_specialization/yellow_belt/week5/own_inheritance/inheritance
cpp_yandex_specialization/yellow_belt/week5/refactoring/refactored
deeplearning/Neural_Networks/Week 2/Logistic Regression as a Neural Network/Logistic Regression with a Neural Network mindset v4 - Stanford.ipynb
deeplearning/Neural_Networks/Week 2/Logistic Regression as a Neural Network/Logistic Regression with a Neural Network mindset v4.ipynb
deeplearning/Neural_Networks/Week 2/Logistic Regression as a Neural Network/Logistic Regression with a Neural Network mindset v5.ipynb
deeplearning/Neural_Networks/Week 2/Python Basics with Numpy/Python Basics With Numpy v3.ipynb
deeplearning/Neural_Networks/Week 2/Python Basics with Numpy/Python_Basics_With_Numpy_v3a.ipynb
deeplearning/Neural_Networks/Week 3/Planar data classification with one hidden layer/Planar data classification with one hidden layer v4.ipynb
deeplearning/Neural_Networks/Week 3/Planar data classification with one hidden layer/Planar_data_classification_with_onehidden_layer_v6a.ipynb
deeplearning/Neural_Networks/Week 3/Planar data classification with one hidden layer/Planar_data_classification_with_onehidden_layer_v6b.ipynb
deeplearning/Neural_Networks/Week 3/Planar data classification with one hidden layer/images/sgd_bad.gif
deeplearning/Neural_Networks/Week 3/Planar data classification with one hidden layer/images/sgd.gif
deeplearning/Neural_Networks/Week 4/Building your Deep Neural Network - Step by Step/Building your Deep Neural Network - Step by Step v5.ipynb
deeplearning/Neural_Networks/Week 4/Building your Deep Neural Network - Step by Step/Building your Deep Neural Network - Step by Step v6.ipynb
deeplearning/Neural_Networks/Week 4/Building your Deep Neural Network - Step by Step/Building your Deep Neural Network - Step by Step v7.ipynb
deeplearning/Neural_Networks/Week 4/Building your Deep Neural Network - Step by Step/Building_your_Deep_Neural_Network_Step_by_Step_v8a.ipynb
deeplearning/Neural_Networks/Week 4/Building your Deep Neural Network - Step by Step/testCases_v3.py
deeplearning/Neural_Networks/Week 4/Building your Deep Neural Network - Step by Step/testCases_v4.py
deeplearning/Neural_Networks/Week 4/Deep Neural Network Application: Image Classification/Deep Neural Network - Application v3.ipynb
deeplearning/Neural_Networks/Week 4/Deep Neural Network Application: Image Classification/Deep Neural Network - Application v4.ipynb
deeplearning/Neural_Networks/Week 4/Deep Neural Network Application: Image Classification/Deep Neural Network - Application v5.ipynb
deeplearning/Neural_Networks/Week 4/Deep Neural Network Application: Image Classification/Deep Neural Network - Application v6.ipynb
deeplearning/Neural_Networks/Week 4/Deep Neural Network Application: Image Classification/Deep Neural Network - Application v7.ipynb
deeplearning/Neural_Networks/Week 4/Deep Neural Network Application: Image Classification/dnn_app_utils_v2.py
deeplearning/Improving_Deep_Neural_Networks/week5/Regularization/Regularization - v2.ipynb
deeplearning/Improving_Deep_Neural_Networks/week5/Regularization/Regularization_v2a.ipynb
deeplearning/Improving_Deep_Neural_Networks/week5/Regularization/datasets/data.mat
deeplearning/Improving_Deep_Neural_Networks/week5/Regularization/images/dropout1_kiank.mp4
deeplearning/Improving_Deep_Neural_Networks/week5/Regularization/images/dropout2_kiank.mp4
deeplearning/Improving_Deep_Neural_Networks/week6/opt_utils_v1a.py
deeplearning/Improving_Deep_Neural_Networks/week6/Optimization methods.ipynb
deeplearning/Improving_Deep_Neural_Networks/week6/datasets/data.mat
deeplearning/Improving_Deep_Neural_Networks/week6/images/opt1.gif
deeplearning/Improving_Deep_Neural_Networks/week6/images/opt2.gif
deeplearning/Improving_Deep_Neural_Networks/week7/improv_utils.py
deeplearning/Improving_Deep_Neural_Networks/week7/Tensorflow Tutorial v1.ipynb
deeplearning/Improving_Deep_Neural_Networks/week7/Tensorflow Tutorial v2.ipynb
deeplearning/Improving_Deep_Neural_Networks/week7/Tensorflow Tutorial v3.ipynb
deeplearning/Improving_Deep_Neural_Networks/week7/Tensorflow Tutorial v3a.ipynb
*.csv
*.mp4
deeplearning/Conv_Nets/week1/Convolution model - Application - v1.ipynb
deeplearning/Conv_Nets/week1/Convolution model - Step by Step - v1.ipynb
deeplearning/Conv_Nets/week1/Convolution model - Step by Step - v2.ipynb
deeplearning/Conv_Nets/week1/images/Convolution_schematic.gif
deeplearning/Conv_Nets/week2/KerasTutorial/Keras - Tutorial - Happy House v1.ipynb
deeplearning/Conv_Nets/week2/KerasTutorial/Keras - Tutorial - Happy House v2.ipynb
deeplearning/Conv_Nets/week2/ResNets/Residual Networks - v1.ipynb
deeplearning/Conv_Nets/week2/ResNets/Residual Networks - v2.ipynb
deeplearning/Conv_Nets/week3/Car detection for Autonomous Driving/Autonomous driving application - Car detection - v1.ipynb
deeplearning/Conv_Nets/week3/Car detection for Autonomous Driving/Autonomous driving application - Car detection - v2.ipynb
deeplearning/Conv_Nets/week3/Car detection for Autonomous Driving/Autonomous driving application - Car detection - v3.ipynb
deeplearning/Conv_Nets/week3/Car detection for Autonomous Driving/Drive.ai Dataset Sample LICENSE
deeplearning/Conv_Nets/week3/Car detection for Autonomous Driving/LICENSE
deeplearning/Conv_Nets/week3/Car detection for Autonomous Driving/font/FiraMono-Medium.otf
deeplearning/Conv_Nets/week3/Car detection for Autonomous Driving/font/SIL Open Font License.txt
deeplearning/Conv_Nets/week4/Face Recognition/Face Recognition for the Happy House - v1.ipynb
deeplearning/Conv_Nets/week4/Face Recognition/Face Recognition for the Happy House - v2.ipynb
deeplearning/Conv_Nets/week4/Face Recognition/Face Recognition for the Happy House - v3.ipynb
deeplearning/Conv_Nets/week4/Neural Style Transfer/Art Generation with Neural Style Transfer - v1.ipynb
deeplearning/Conv_Nets/week4/Neural Style Transfer/Art Generation with Neural Style Transfer - v2.ipynb
deeplearning/Conv_Nets/week4/Neural Style Transfer/Art Generation with Neural Style Transfer - v3.ipynb
deeplearning/Conv_Nets/week4/Neural Style Transfer/Pretrained_Model_LICENSE.txt
deeplearning/Conv_Nets/week4/Neural Style Transfer/images/content.jpeg
deeplearning/Conv_Nets/week4/Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
*.wav
*.npy
deeplearning/Sequence_Models/Week 1/Building a Recurrent Neural Network - Step by Step/Building a Recurrent Neural Network - Step by Step - v3.ipynb
deeplearning/Sequence_Models/Week 1/Building a Recurrent Neural Network - Step by Step/previous versions/Building a Recurrent Neural Network - Step by Step - v1.ipynb
deeplearning/Sequence_Models/Week 1/Dinosaur Island -- Character-level language model/Dinosaurus Island -- Character level language model final - v3.ipynb
deeplearning/Sequence_Models/Week 1/Dinosaur Island -- Character-level language model/Dinosaurus_Island_Character_level_language_model_final_v3a.ipynb
deeplearning/Sequence_Models/Week 1/Dinosaur Island -- Character-level language model/images/mangosaurus.jpeg
deeplearning/Sequence_Models/Week 1/Dinosaur Island -- Character-level language model/previous versions/Dinosaurus Island -- Character level language model final - v1.ipynb
deeplearning/Sequence_Models/Week 1/Dinosaur Island -- Character-level language model/previous versions/Dinosaurus Island -- Character level language model final - v2-Copy1.ipynb
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/Improvise a Jazz Solo with an LSTM Network - v3.ipynb
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/tune1.midi
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/data/30s_seq.mp3
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/data/30s_trained_model.mp3
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/data/deepjazz_on_metheny...128_epochs.midi
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/data/original_metheny.mid
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/data/training_example.mp3
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/previous versions/Improvise a Jazz Solo with an LSTM Network - v1.ipynb
deeplearning/Sequence_Models/Week 1/Jazz improvisation with LSTM/previous versions/Improvise a Jazz Solo with an LSTM Network - v2.ipynb
deeplearning/Sequence_Models/Week 2/Emojify/Emojify - v2.ipynb
deeplearning/Sequence_Models/Week 2/Emojify/data/glove.6B.50d.txt
deeplearning/Sequence_Models/Week 2/Emojify/previous versions/Emojify - learners.ipynb
deeplearning/Sequence_Models/Week 2/Emojify/previous versions/Emojify - v1.ipynb
deeplearning/Sequence_Models/Week 2/Word Vector Representation/Operations on word vectors - v2.ipynb
deeplearning/Sequence_Models/Week 2/Word Vector Representation/data/glove.6B.50d.txt
deeplearning/Sequence_Models/Week 2/Word Vector Representation/data/input-Copy1.txt
deeplearning/Sequence_Models/Week 2/Word Vector Representation/previous versions/Operations on word vectors - v1.ipynb
deeplearning/Sequence_Models/Week 3/Machine Translation/Neural machine translation with attention - v4.ipynb
deeplearning/Sequence_Models/Week 3/Machine Translation/previous versions/Neural machine translation with attention - v1.ipynb
deeplearning/Sequence_Models/Week 3/Machine Translation/previous versions/Neural machine translation with attention - v2.ipynb
deeplearning/Sequence_Models/Week 3/Machine Translation/previous versions/Neural machine translation with attention - v3.ipynb
deeplearning/Sequence_Models/Week 3/Trigger word detection/Trigger word detection - v1.ipynb
deeplearning/Sequence_Models/readonly/glove.6B.50d.txt
